.footer{
    background-image: url(/src/images/fotter.svg);
    display: flex;
    flex-direction: column;
}
h1{
    margin-top: 50px;
    text-align: center;
    font-family: 'Potta One', sans-serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: -0.035em;
    color: rgba(66, 67, 70, 1);
}
a{
    text-decoration: none;
    color: rgba(105, 115, 144, 1);
}

h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: -0.035em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}
.items li{
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: -0.035em;
    text-align: left;
    color: rgba(138, 138, 138, 1);
    list-style: none;
}